# Round2

### Dealing with the data

## Get data

In [3]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('/Users/szabonikolett/Desktop/Ironhack-Labs/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv') 
pd.set_option('display.max_columns', None)  # to list all columns

display(dataset)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

## Show the dataframe shape

In [4]:
dataset.shape

(10910, 26)

## Standardize header names

In [5]:
#cols = []  
#for column in dataset.columns:
#    cols.append(column.lower())
#dataset.columns = cols
#dataset

cols = []
for column in range(len(dataset.columns)):
    cols.append(dataset.columns[column].lower().replace(' ', '_'))  # >> new best friend, replacing in column names space with _
dataset.columns = cols

print(dataset.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

## Numerical and categorical columns

In [6]:
dataset.dtypes

dataset.select_dtypes(np.number).columns

Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')

In [7]:
dataset.select_dtypes(object).columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

## Check and deal with NaN values

In [8]:
# Check the occurancy of NaN values / column

dataset.isna().sum() # number of nan values
round(dataset.isna().sum()/len(dataset),4)*100  # % of nan values

unnamed:_0                        0.00
customer                          0.00
state                             5.78
customer_lifetime_value           0.00
response                          5.78
coverage                          0.00
education                         0.00
effective_to_date                 0.00
employmentstatus                  0.00
gender                            0.00
income                            0.00
location_code                     0.00
marital_status                    0.00
monthly_premium_auto              0.00
months_since_last_claim           5.80
months_since_policy_inception     0.00
number_of_open_complaints         5.80
number_of_policies                0.00
policy_type                       0.00
policy                            0.00
renew_offer_type                  0.00
sales_channel                     0.00
total_claim_amount                0.00
vehicle_class                     5.70
vehicle_size                      5.70
vehicle_type                     50.25
dtype: float64

In [9]:
# removing vehicle tpye column as half of it is missing, makes no sense to work with that much missing values

# already dropped the column, so code will not execute again 

dataset = dataset.drop(['vehicle type'], axis=1)
dataset

KeyError: "['vehicle type'] not found in axis"

In [ ]:
# dropping 'unnamed' column as it has no relevance or added value, and appears to be = to the row number
# same as above, already dropped so code will not execute again 

dataset = dataset.drop(columns=['unnamed:_0'])

dataset

In [ ]:
# dropping duplicates 

dataset = dataset.drop_duplicates()
dataset

## Datetime format

In [ ]:
# Examples of working with datetime format:

#file = pd.read_csv('df_final_web_data_pt_1.csv')
#file.head()

#file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')
#file.head()

In [ ]:
# dataset['year'] = pd.DatetimeIndex(dataset['Effective_To_Date']).year # no need for this
# dataset['year'] = pd.DatetimeIndex(dataset['effective_to_date']).year

#dataset['effective_to_date']=pd.to_datetime(dataset['effective_to_date'])
dataset['month'] = pd.DatetimeIndex(dataset['effective_to_date']).month

dataset

In [ ]:
dataset.shape

In [ ]:
#dataset.dtypes

# Round3 
EDA (Exploratory Data Analysis)

## Show DataFrame info

In [ ]:
# get the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

from collections import Counter

dataset2 = pd.read_csv('/Users/szabonikolett/Desktop/Ironhack-Labs/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv') 
pd.set_option('display.max_columns', None)  # to see all columns in one

dataset2.head()

In [ ]:
dataset2.shape
dataset2

## Describe DataFrame

In [ ]:
dataset2.describe().T # no need to add dataset2 in new row !!!; transposing to have an easier look

## # Show a plot of the total number of responses

In [ ]:
import seaborn as sns

sns.countplot(x = dataset2['Response'])
plt.ylabel('Total number of Response')

## Show a plot of the response rate by the sales channel

In [ ]:
#plt.scatter('response', 'sales channel') # keeping it as funny memory
#plt.show()

sns.countplot('response'), hue='sales channel', dataset2=dataset2) # hue would bring some colors but no :( 
plt.ylabel('Response by Sales Channel')
plt.ylabel('Response by Sales Channel')

In [ ]:
# trying to convert categoric into numeric


test=dataset['response'].value_counts()
test2=dataset['sales channel'].value_counts()

### Messing with boxplot

In [ ]:
sns.boxplot(x=test, y=test2) # checking the people who dontated higher amount whether live in fancier house or not
plt.show()

In [ ]:
sns.scattplot(x=dataset['response'], y=dataset['sales channel'])
plt.show()

In [ ]:
sns.boxplot(x=dataset['response'], y=dataset['total claim amount'])
plt.show()

In [ ]:
sns.boxplot(x=dataset['response'], y=dataset['income'])
plt.show()

## Show plot of the response rate by income.

In [ ]:
# still have to finish this one

# Round 4

## Continuous distributions, linear regression, linear regression

### Check the data types of the columns. Get the numeric data into dataframe called numerical and categorical columns in a dataframe called categoricals.

In [ ]:
from sklearn.preprocessing import MinMaxScaler        # >> this will be the needed normalizing 
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [ ]:
numerical = dataset.select_dtypes(include = np.number) 
pd.set_option('display.max_columns', None)  # listing every column

numerical

In [ ]:
# dropping the leftover nan values 

numerical = numerical.dropna()
numerical

In [ ]:
categorical = dataset.select_dtypes(include = object)
pd.set_option('display.max_columns', None)  # listing every column
categorical

In [ ]:
#when I drop a colum from my numerical db, I will also need to drop that from my origina data

In [ ]:

# numerical = numerical.drop(columns=['Unnamed:0'])  # might need to drop this numerical column

## Check the normality of the numerical variables visually

### Use seaborn library to construct distribution plots for the numerical variables

In [ ]:
for col in numerical.columns:
    sns.displot(numerical[col], kde=True) # kde=True >> putting the line in 
    
plt.show()

### Use Matplotlib to construct histograms

In [ ]:
#fig, ax = plt.subplots()
for col in numerical.columns:
    numerical[col].hist()
    plt.show()

### Check the multicollinearity between the features. Please note that we will use the column total_claim_amount later as the target variable

In [ ]:
correlations = round(numerical.corr(),2)
correlations

In [ ]:
sns.heatmap(correlations, annot=True) # printing 2 decimals with annot=True 
plt.show

In [ ]:
# there's a high negativ correlation between total claim amount and income so dropping them from 
# the numerical dataframe and from original dataframe as well

# Round 5

### Processing Data

## X-y split.
## Normalizing (numerical).

In [22]:
data = pd.read_csv('/Users/szabonikolett/Desktop/Ironhack-Labs/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv') 
pd.set_option('display.max_columns', None)

In [27]:
y=data['Total Claim Amount'] # »» setting target
X=data.drop(['Total Claim Amount'], axis=1) # »» setting features

X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)

In [24]:
X_num.shape

(10910, 8)

In [29]:
X_num.describe().T  # scaling numeric data

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,10910.0,5454.500000,3149.590053,0.000000,2727.250000,5454.500000,8181.750000,10909.00000
Customer Lifetime Value,10910.0,8018.241094,6885.081434,1898.007675,4014.453113,5771.147235,8992.779137,83325.38119
Income,10910.0,37536.284785,30359.195670,0.000000,0.000000,33813.500000,62250.750000,99981.00000
Monthly Premium Auto,10910.0,93.196059,34.442532,61.000000,68.000000,83.000000,109.000000,298.00000
Months Since Last Claim,10277.0,15.149071,10.080349,0.000000,6.000000,14.000000,23.000000,35.00000
Months Since Policy Inception,10910.0,48.091934,27.940675,0.000000,24.000000,48.000000,71.000000,99.00000
Number of Open Complaints,10277.0,0.384256,0.912457,0.000000,0.000000,0.000000,0.000000,5.00000
Number of Policies,10910.0,2.979193,2.399359,1.000000,1.000000,2.000000,4.000000,9.00000

In [ ]:
!!!!!!!!!
I should still drop resopnse, effective, unnamed
keep: customer lifetime value, income, monthly premium auto, months since last policy inception, number of policies

In [30]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [32]:
# min and max valuve of the column

transformer = MinMaxScaler().fit(X_num) # » training 
X_normalized = transformer.transform(X_num)
print(X_normalized.shape)
X_normalized # if I run it, it's just array
X_num_scale = pd.DataFrame(X_normalized, columns=X_num.columns) # turning the array into a dataframe again
X_num_scale.head()

(10910, 8)

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,0.000000,0.035752,0.480381,0.000000,0.200000,0.525253,0.0,1.000
1,0.000092,0.004059,0.000000,0.012658,0.085714,0.262626,0.0,0.000
2,0.000183,0.160264,0.221432,0.164557,0.971429,0.313131,0.0,0.125
3,0.000275,0.250953,0.490873,0.151899,0.285714,0.030303,0.0,0.125
4,0.000367,0.087527,0.236795,0.236287,NaN,0.313131,NaN,0.750

In [33]:
# make data distributed with mean=0 and std=1

transformer = StandardScaler().fit(X_num)
X_standardized = transformer.transform(X_num)
print(X_standardized.shape)
X_num_standardized = pd.DataFrame(X_standardized, columns=X_num.columns)
X_num_standardized.head()

(10910, 8)

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,-1.731892,-0.466105,0.345635,-0.934819,-0.808451,0.139877,-0.421143,2.509455
1,-1.731575,-0.840946,-1.236462,-0.847713,-1.205282,-0.790709,-0.421143,-0.824922
2,-1.731257,1.006523,-0.507194,0.197554,1.870158,-0.611750,-0.421143,-0.408125
3,-1.730940,2.079112,0.380189,0.110448,-0.510828,-1.613919,-0.421143,-0.408125
4,-1.730622,0.146240,-0.456597,0.691152,NaN,-0.611750,NaN,1.675860

## Round 6

One Hot/Label Encoding (categorical).
Concat DataFrames
Linear Regression

Train-test split.
Apply linear regression.
Model Validation

In [324]:
X_cat = X_cat.drop(columns=['Customer']) ## dropping customer id column

In [328]:
X_cat['Coverage'].value_counts()

Basic       6660
Extended    3265
Premium      985
Name: Coverage, dtype: int64

In [348]:
X_cat.head()

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
0,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN

In [364]:
from sklearn.preprocessing import OneHotEncoder

# tried to make separate encoder for coverage, policy, policy type, vehicel class but cant make it work feature by feature 

#encoder = OneHotEncoder(drop='first').fit(X_cat.drop(columns=['State', 'Response', 'Education', 'Effective To Date', 'Employmentstatus', 'Gender', 'Location Code', 'Marital Status,
#'Renew Offer Type', 'Sales Channel', 'Vehicle Size', 'Vehicle Type'], axis=1)) 


# or making one encoder and just dropping the unwanted columns wont didnt either  

encoder = OneHotEncoder(drop='first').fit(X_cat.drop(columns=["Location Code"], axis=1)) # training
encoder = OneHotEncoder(drop='first').fit(X_cat) # original
cols=encoder.get_feature_names(input_features=X_cat.columns) 
encoded = encoder.transform(X_cat).toarray()
onehot_encoded = pd.DataFrame(encoded,columns=cols)

print(encoded)
#onehot_encoded.head()

[[0. 0. 0. ... 0. 0. 1.]
 [1. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [1. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

/Users/szabonikolett/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [341]:
X_cat['Policy Type'].value_counts()

Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: Policy Type, dtype: int64

In [355]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(X_cat) # training
cols=encoder.get_feature_names(input_features=X_cat.columns) 
encoded = encoder.transform(X_cat).toarray()
onehot_encoded = pd.DataFrame(encoded,columns=cols)

print(encoded)
onehot_encoded.head()

[[0. 0. 0. ... 0. 0. 1.]
 [1. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [1. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

/Users/szabonikolett/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,State_California,State_Nevada,State_Oregon,State_Washington,State_nan,Response_Yes,Response_nan,Coverage_Extended,Coverage_Premium,Education_College,Education_Doctor,Education_High School or Below,Education_Master,Effective To Date_1/10/11,Effective To Date_1/11/11,Effective To Date_1/12/11,Effective To Date_1/13/11,Effective To Date_1/14/11,Effective To Date_1/15/11,Effective To Date_1/16/11,Effective To Date_1/17/11,Effective To Date_1/18/11,Effective To Date_1/19/11,Effective To Date_1/2/11,Effective To Date_1/20/11,Effective To Date_1/21/11,Effective To Date_1/22/11,Effective To Date_1/23/11,Effective To Date_1/24/11,Effective To Date_1/25/11,Effective To Date_1/26/11,Effective To Date_1/27/11,Effective To Date_1/28/11,Effective To Date_1/29/11,Effective To Date_1/3/11,Effective To Date_1/30/11,Effective To Date_1/31/11,Effective To Date_1/4/11,Effective To Date_1/5/11,Effective To Date_1/6/11,Effective To Date_1/7/11,Effective To Date_1/8/11,Effective To Date_1/9/11,Effective To Date_2/1/11,Effective To Date_2/10/11,Effective To Date_2/11/11,Effective To Date_2/12/11,Effective To Date_2/13/11,Effective To Date_2/14/11,Effective To Date_2/15/11,Effective To Date_2/16/11,Effective To Date_2/17/11,Effective To Date_2/18/11,Effective To Date_2/19/11,Effective To Date_2/2/11,Effective To Date_2/20/11,Effective To Date_2/21/11,Effective To Date_2/22/11,Effective To Date_2/23/11,Effective To Date_2/24/11,Effective To Date_2/25/11,Effective To Date_2/26/11,Effective To Date_2/27/11,Effective To Date_2/28/11,Effective To Date_2/3/11,Effective To Date_2/4/11,Effective To Date_2/5/11,Effective To Date_2/6/11,Effective To Date_2/7/11,Effective To Date_2/8/11,Effective To Date_2/9/11,EmploymentStatus_Employed,EmploymentStatus_Medical Leave,EmploymentStatus_Retired,EmploymentStatus_Unemployed,Gender_M,Location Code_Suburban,Location Code_Urban,Marital Status_Married,Marital Status_Single,Policy Type_Personal Auto,Policy Type_Special Auto,Policy_Corporate L2,Policy_Corporate L3,Policy_Personal L1,Policy_Personal L2,Policy_Personal L3,Policy_Special L1,Policy_Special L2,Policy_Special L3,Renew Offer Type_Offer2,Renew Offer Type_Offer3,Renew Offer Type_Offer4,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Class_nan,Vehicle Size_Medsize,Vehicle Size_Small,Vehicle Size_nan,Vehicle Type_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [356]:
X_cat['Policy'].value_counts()

Personal L3     4118
Personal L2     2537
Personal L1     1473
Corporate L3    1221
Corporate L2     688
Corporate L1     432
Special L2       193
Special L3       170
Special L1        78
Name: Policy, dtype: int64

In [ ]:
X_cat['Vehicel Class'].value_counts()

### Contact DataFrames, Linear Regression

In [ ]:
# listing how I would countinue

In [ ]:
X = pd.concat([X_normalized, onehot_encoded], axis=1) # would be the next

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape) 
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train) # making prediction on something what we already know
r2_score(y_train, predictions)

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

In [ ]:
y_test[:5]

In [ ]:
predictions_test[:5]

### Description:
R2.
MSE.
RMSE.
MAE.

In [ ]:
from sklearn.metrics import mean_squared_error 
mse=mean_squared_error(y_test,predictions_test)
mse

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse

In [300]:
y_test.mean()

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

mae = mean_absolute_error(y_test, predictions_test)
print(mae)

In [ ]:
rmse = math.sqrt(mse)
print(rmse)

In [ ]:
r2 = r2_score(y_test, predictions_test)
r2

## Round 7